/*@import url(https://fonts.googleapis.com/css?family=Ledger);*/

:host {
    text-align: center;
    font-family: "Ledger", serif;
}

.heart {
    position: absolute;
    font-size: 24px;
    line-height: 20px;

    &.firstHeart {
        left: 10px;
        top: 10px;
    }

    &.lastHeart {
        right: 10px;
        bottom: 10px;
    }
}

.front .number {
    position: absolute;
    top: 25%;
    left: 25%;
}


#card {
    width: 125px;
    height: 200px;
    margin: 30px auto;
    position: relative;
    font-size: 80px;
    perspective: 1000;
    position: relative;
    transform: rotate(5deg);
}

.front,
.back {
    overflow: hidden;
    cursor: pointer;
    backface-visibility: hidden;
    transition: transform 1s ease-in;
    padding: 20px;
    background: #fff;
    border-radius: 9px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.back {
    transform: rotateY(180deg);
    overflow: hidden;
    background-color: white;
    background-image: linear-gradient(45deg, #3f71a4 25%, transparent 25%, transparent 75%, #3f71a4 75%),
        linear-gradient(-45deg, #3f71a4 25%, transparent 25%, transparent 75%, #3f71a4 75%);
    background-size: 12px 12px;
    background-position: 0 0, 0 0;
}

.front {
    background: #fff;
}

#card-container {
    display: inline-block;
}

#card-container.doHover .back {
    transform: rotateY(0deg);
}

#card-container.doHover .front {
    transform: rotateY(-180deg);
}