@use '../../../styles/variables' as *;

.myContainer {
    display: flex;
    width: 100%;
    height: calc(100% - 57px);
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;


    app-room-list {
        flex-grow: 0.2;
        padding: $default_margin;
    }

    app-add-room {
        flex-grow: 1.8;
        padding: $default_margin;
    }

    app-results {
        flex-grow: 0.8;
        padding: $default_margin;
    }
}

.actions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    min-height: 40px;
    flex-grow: 1;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
    padding: 15px;
}