<app-navbar></app-navbar>

<router-outlet></router-outlet>
<div class="fill_space"></div>
<footer class="navbar navbar-light bg-primary">
    <div class="content">
        <a href="https://github.com/Andresrf13/effort-poker-server">
            <img src="../assets/GitHub-Mark-Light-64px.png" alt="github icon" />
            Backend code
        </a>
        <a href="https://github.com/Andresrf13/effort-poker-front-end">
            <img src="../assets/GitHub-Mark-Light-64px.png" alt="github icon" />
            Frontend code
        </a>
    </div>
    <div class="content">
        <p>Author: Andresrf13</p>
        <p>andres.rf13@outlook.com</p>
    </div>
</footer>